.courseCard
{
    padding-left:15%;
    padding-right:15%;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.courseID
{
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 10px;
    justify-content: flex-start;
}
.courseButton
{
    float: right;
}