html,body{
    overflow-y: hidden;
}

.parentContainer{
    margin:auto;
    background-color: #181717;
    color: white;
    padding-top:3%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    padding-bottom: 2%;
}

.editorContainer
{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}



.slideImages
{
    margin-bottom: 5%;
    padding: 1%;
    height: 80%;
    width: 80%;
    background-color: rgb(54, 54, 54);
    overflow-y: auto;
    border-radius: 25px;
}
.slideContainer
{
  width: 70%;
}
.controlButtons{
    display:flex;
    flex-direction: row;
    /* width: 200px; */
    /* justify-content: space-evenly; */
}

.fileUploader{
  padding-right:5% ;
}

#root
{
    height: 100vh;
    background-color: #181717;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #444444;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }