.loginBox{
    height: 400px;
    width: 500px;
    margin:auto;
    padding-top: 200px;
    color: whitesmoke;
}

.bgDiv{
    background-image: url("../images/instructor-bg1.png");
    background-color:rgba(0, 0, 0, 0.89);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.containerDiv
{
    margin:auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-right: 150px;
    float: right;
}

.login1
{
    background-color : chocolate;
    /* background-image: url("../images/student-icon.jpg"); */
    background-image: url("../images/teacher-icon.png");
    background-size: contain; 
    opacity: 0.9;
    height: 250px;
    width: 250px;
}

.login2
{
    background-color :chocolate;
    background-image: url("../images/student-icon.png");
    background-size: cover;
    opacity: 0.9;
    height: 250px;
    width: 250px;
}

.login1:hover
{
    background-color: coral;
}

.login2:hover
{
    background-color: coral;
}

.bgBox{
    background-color:whitesmoke; 
    padding: 50px;
}
.bgBox1{
    background-color:whitesmoke;
    padding-bottom: 10px;
    padding-top: 0px;
    border-radius: 2%;
    /* height: 400px;
    width: 500px; */
}

#root {
    height: 100vh;
}

.heading1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

a{
    color: white;
}

